# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Cache dump (rigenerabile)
data/.cache/

# Node
node_modules/

# Next.js
.next/
.vercel/

# Output rendering (rigenerabile)
out/

# Env
.env
.env.local
